{% extends '::main.html.twig' %}

{% block title %}
{{ parent() }} Liczenie
{% endblock %}

{% block text %}
        


<div style="font-size: 20px; color: #aacd4e; font-weight: bold; background-color: #AAAAAA;">
{% for i in from..to %}
{{ i }}
<br />
{% endfor %}
</div>

{% endblock %}