{% extends '::base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />
{% endblock %}


{% block title %}
Let's Explore!
{% endblock %}
    


{% block body %}
    <div id="login">
        {% block login %}
        Login   /   Logout
        {% endblock %}   
    </div>
    <div id="top">
        {% block top %}
        <img src="/explore/web/img/dragons-top2.png" />
        {% endblock %}   
    </div>
    <div id="menu">
        {% block menu %}
        <dl>
            <dt>Losowanie</dt>
            <dd><a href="Spotkanie.html">Spotkanie</a></dd>
            <dd><a href="Skarby.html">Skarby</a></dd>
            <dd><a href="Pomieszczenie.html">Pomieszczenie</a></dd>
             <dt>Zarządzaj kartą</dt>
            <dd><a href="Podgląd.html">Podgląd</a></dd>
            <dd><a href="Wszystkiekarty.html">Wszystkie karty</a></dd>
        </dl>
        {% endblock %}   
    </div>
    <div id="text">
        {% block text %}
        {% endblock %}   
    </div>
    <div id="footer">
        {% block footer %}
        xx
        {% endblock %}   
    </div>
        
{% endblock %}