html, body {
        background-image: url('/explore/web/img/bg-grey.png');
        background-color: #002F2F;
        color: #27242B;
	margin: 0;
	padding: 0;
	text-align: center;
        font-family: monospace;
}
#main {
        width: 1200px;
        margin: auto;
}
#login {
	width: 1200px;
        margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
        
        color: #ABAB8E;
        font-weight: bold;
}
#top {
	width: 1200px;
	text-align: center;
        /*padding-left: 75px;*/
}
#menu {
        margin-top: 20px;
        margin-left: auto;
        margin-right: 20px;
	width: 150px;
	float: left;
	overflow: hidden;
	background-color: #ABAB8E;
/*        min-height: 500px;*/
        color: #27242B;
}
dl, dt, dd {
	display: block;
	margin: 0;
	padding: 0;
}

dt {
	width: 145px;
	padding: 5px 10px;
	font-weight: bold;
	text-align: center;
	background: #ABAB8E;
	color: #27242B;
	border-width: 1px;
	border-style: solid;
	border-color: #dfe #365 #365 #dfe;
}

dd {
	width: 150px;
	padding-left: 10px;
	background: #ABAB8E;
	border-width: 1px;
	border-style: solid;
	border-color: #dfe #365 #365 #dfe;
        text-align: left;
        color: #F2CA80;
}

dl a:link, dl a:visited {
	display: block;
	width: 145px;
	text-decoration: none;
	padding: 5px 10px;
	font-weight: bold;
	background: #D9D8BF url("/explore/web/img/tlo.png") repeat-x top;
	color: #27242B;
	border-left: 1px solid #797;
}

dl a:hover {
	background-color: #5C504F;
	color: white;
}

#text {
        margin-top: 20px;
	width: 1025px;
	float: left;
	overflow: hidden;
	background-color: white;
        min-height: 500px;
        padding-top: 20px;
}

#footer {
        margin-top: 20px;
        height: 16px;
        color: #ABAB8E;
        font-size: 12px;
        font-weight: bold;
        margin-left: auto;
	clear: both;
	width: 1050px;
        text-align: right;
        padding-right: 10px;
}